body {
}

body {
    font-family: Arial, sans-serif;
    /* background-color: gainsboro; */
    background: url("https://content.codecademy.com/courses/freelance-1/unit-6/project-morocco/banner.jpg") center center no-repeat;
  }
  
  h1 {
    text-align: center;
  }
  
  h2 {
    color: rebeccapurple;
    text-align: center;
  }
  
  table {
    border: 2px solid darkorchid;
    width: 650px;
    margin: 0 auto;
  }
  
  thead {
    background-color: plum;
  }
  
  td {
    border-top: 1px solid darkorchid;
  }
  
  .code {
    font-family: monospace;
    background-color: beige;
  }