body {
  font-family: Arial, sans-serif;
  background-color: gainsboro;
  background: url("https://content.codecademy.com/courses/freelance-1/unit-6/project-morocco/banner.jpg") center center no-repeat;
  }

/* update the structure of photos and table */
.photos, .table {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px auto;
}

.introduce {
  box-sizing: border-box;
  margin: 0px;
  padding: 10px 200px;
  background-color: hsla(151, 63%, 56%, 0.7);
}

